html {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-image: url("./images/christmas-tree_background.jpg");
}

.background {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  width: 100%;
  background-color: rgba(0, 0, 100, 0.3);
}

img {
  width: 100%;
  grid-column: 2 / span 1;
  justify-self: center;
  border-radius: 50px;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
  height: 150px;
}

.poetryCard {
  display: grid;
  grid-template-columns: 1fr 40% 1fr;
  align-items: center;
}

.poetry {
  font-size: 5vw;
  font-style: italic;
  font-family: cursive;
  grid-column: 2 / span 1;
  justify-self: center;
}

.game-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: 6vw;
  border: 2px solid blue;
  border-radius: 20px;
  background-color: rgba(0, 100, 200, 0.9);
  box-shadow: 0.5vw 0.5vw rgba(0, 75, 100, 0.6);
}

.game-button:hover {
  color: green;
  background-color: rgba(255, 0, 0, 0.7);
}

.game-button:active {
  box-shadow: none;
  background-color: rgba(0, 255, 100, 0.7);
}

.button-link {
  color: rgba(200, 50, 50, 0.8);
  text-decoration: none;
  font-size: 2vw;
}

.poem-button {
  grid-column: 2 / span 1;
  justify-self: center;
  margin-top: 20px;
  background: rgb(241, 0, 0);
  background: linear-gradient(
    45deg,
    rgba(241, 0, 0, 1) 0%,
    rgba(0, 9, 255, 1) 100%
  );
  color: white;
  border-radius: 20px;
}

.christmas-container {
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
}

.christmas-declaration {
  grid-column: 2 / span 1;
  justify-self: center;
  font-family: cursive;
  font-size: 5vw;
  color: red;
}

#christmas-card {
  grid-column: 2 / span 1;
  justify-self: center;
  width: 50%;
}
