html body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
}

#root {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-image: url("./images/christmas-tree_background.jpg");
}

.background {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 100, 0.3);
}

.poetryCard {
  display: grid;
  grid-template-columns: 1fr 40% 1fr;
  align-items: center;
}

.poem-button {
  grid-column: 2 / span 1;
  justify-self: center;
  margin-top: 20px;
  background: rgb(241, 0, 0);
  background: linear-gradient(
    45deg,
    rgba(241, 0, 0, 1) 0%,
    rgba(0, 9, 255, 1) 100%
  );
  color: white;
  border-radius: 20px;
}

#christmas-card {
  grid-column: 2 / span 1;
  justify-self: center;
  width: 50%;
}
