.christmasContainer {
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
}

.christmasDeclaration {
  grid-column: 2 / span 1;
  justify-self: center;
  font-family: cursive;
  font-size: 5vw;
  color: red;
}

.christmasImg {
  width: 100%;
  grid-column: 2 / span 1;
  justify-self: center;
  border-radius: 50px;
}
