.christmasContainer {
  display: block;
  text-align: center;
  text-wrap: balance;
}

.christmasDeclaration {
  font-family: cursive;
  font-size: 3rem;
  color: red;
}

.christmasImg {
  width: 75%;
  grid-column: 2 / span 1;
  justify-self: center;
  border-radius: 50px;
}
